<div>
    <div>
        <p class="title">{{title}}</p>
        <p>{{username}} | Date: {{format_date date}} {{format_time date}}</p>
    </div>

    <p class="comment">{{content}}</p>

    <hr>
</div>

